<div ng-if="user">
	<img class="open-chat" ng-src="{{url}}/imagens/chat.png" ng-click="toggleChat();">
</div>
<div ng-show="chat" class="chat-conversas">
	<div class="barra-chat">
		<a href="#" ng-click="toggleChat();"><img ng-src="{{url}}/imagens/exit.png"></a>
	</div>
	<div class="chat-container">
		<div class="chat-amigos" ng-class="{'hidden':conversa}">
			<div class="chat-amigo" ng-repeat="amigo in amigos" ng-click="abrirConversa(amigo);">
				<img ng-src="{{url}}/imagens/users/{{amigo.foto}}">
				<span>{{amigo.nome}}</span>
				<span class="status" ng-class="amigo.status">•</span>
			</div>
		</div>
		<div class="chat-conversa">
			<p>conversa</p>
		</div>
	</div>
</div>